/* MovieCard.module.css */
.card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
}
.linkWrapper {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .card {
    font-size: 0.9rem;
  }
}
